<script type="text/javascript">
  function deviceModal(){
    $('#deviceModal').modal('show');
  }
</script>

<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device %><br />
    <%= f.select :device_id, @devices.collect{|d| [d.name, d.id]} %>
    <p style="display:inline;">
      <%#= link_to "Add + ", new_device_path, :remote => true, :id => 'create-device' %>
      <%#= link_to "Adicionar +", new_device_path, :remote => true, :onclick=>"window.open(this.href,'create_device', 'height=300, width=520');return false;" %>
      <%= link_to "Add +", {:controller => "devices", :action => "new"}, :onclick => "deviceModal();", :role => "button", :class => "btn", :data => { "toogle" => "modal", "target" => "#deviceModal" }, :popup => ["New Device", "height=600", "width=600"]%>
    </p>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select :type_id, @types.collect{|t| [t.name, t.id]} %>
    <p style="display:inline;">
      <%= link_to "Adicionar +", new_type_path, :remote => true, :onclick=>"window.open(this.href,'create_type', 'height=600, width=600');return false;" %>
    </p>

  <div cla
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :service %><br />
    <%= f.select :service_id, @services.collect{|s| [s.name, s.id]} %>
    <p style="display:inline;">
      <%= link_to "Adicionar +", new_service_path, :remote => true, :onclick=>"window.open(this.href,'create_service', 'height=600, width=600');return false;" %>
    </p>
  </div>
  <div class="field">
    <%= f.label :port %><br />
    <%= f.text_field :port %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :sysadm %><br />
    <%= f.check_box :sysadm %>
  </div>
  <div class="field">
    <%= f.label :root_password %><br />
    <%= f.text_field :root_password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
